.center-container {
    height: 80vh;
    width: 100%;

    
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.center-container h1, 
.center-container h5 {
    margin: 10px 0;
}